.single {
    background-color: #ffffff;
    margin-top: 25px;
    /* padding: 15px 0px; */
  }
  
  .user_profile_row {
    display: flex;
    padding: 15px 40px;
    border-bottom: 1px solid #d0d0d0;
  }
  
  .user_profile_row .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .user_profile_row .right {
    margin-left: 15px;
  }
  
  .user_profile_row .right .name {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  .user_profile_row .right .date {
    color: #a9a9a9;
  }
  
  .detail_row {
    display: flex;
    padding: 15px 40px;
    border-bottom: 1px solid #d0d0d0;
  }
  
  .detail_row .location,
  .detail_row .role,
  .detail_row .id,
  .detail_row .price_lead {
    color: #a9a9a9;
    font-size: 18px;
    text-transform: capitalize;
    margin-right: 25px;
  }

  .contact_me {
    padding: 15px 40px;
    display: flex;
  }

  .contact_row {
    padding: 15px 40px;
    color: #a9a9a9;
    font-size: 16px;
    
  }
  
  .comment_row {
    padding: 15px 40px;
    border-bottom: 1px solid #d0d0d0;
    color: #a9a9a9;
    font-size: 16px;
  }
  
  .actions {
    padding: 15px 40px;
    display: flex;
  }
  
  .actions .accept {
    background-color: #ff7b12;
    color: #ffffff;
    padding: 10px 35px;
    font-weight: 500;
    border-bottom: 3px solid #cc6210;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .actions .reject {
    background-color: #eeeeee;
    color: #000000;
    padding: 10px 35px;
    font-weight: 500;
    border-bottom: 2px solid #bebebe;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 30px;
  }
  
  .actions .accept:hover {
    background-color: #b66b07;
  }
  
  .actions .reject:hover {
    background-color: #ffffff;
  }
  
  .price {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #4a4a4a;
    line-height: 1.9;
    margin-right: 4px;
  }
  .lead {
    text-align: left;
    font-weight: 600;
    color: #a9a9a9;
    line-height: 2.9;
  }

  .anchor {
    text-decoration: none;
    color: #ff8d36;
    font-weight: bold;
    cursor: pointer;
    margin-right: 25px;
  }